<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user, :size => 70 %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong>  <a href="http://www.facebook.com/jon.gutwillig">FB page</a>
		</td>
	</tr>
</table>

			

	