<!DOCTYPE HTML>

<h1>Twit App</h>
<p>
	This is the <%= @title %> page for 
	<a href="http://www.discobiscuits.com/">the Disco Biscuits</a>
	Twit App
</p>

<% if signed_in? %>
<% else %>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>	
<% end %>				